<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.init.dao.CertificateTemplateMapper">
  <resultMap id="BaseResultMap" type="com.init.pojo.CertificateTemplate">
    <id column="temp_id" jdbcType="BIGINT" property="tempId" />
    <id column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="subject_font" jdbcType="INTEGER" property="subjectFont" />
    <result column="subject_size" jdbcType="INTEGER" property="subjectSize" />
    <result column="subject_postion" jdbcType="INTEGER" property="subjectPostion" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="modeimg" jdbcType="VARCHAR" property="modeimg" />
    <result column="excel_template" jdbcType="VARCHAR" property="excelTemplate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="scope" jdbcType="INTEGER" property="scope" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.init.pojo.CertificateTemplate">
    <result column="extention" jdbcType="LONGVARCHAR" property="extention" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    temp_id, org_id, subject, `type`, subject_font, subject_size, subject_postion, image, 
    thumbnail, modeimg, excel_template, remark, `count`, `scope`, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    extention
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.init.pojo.CertificateTemplateExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from certificate_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByExample" parameterType="com.init.pojo.CertificateTemplateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from certificate_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.init.pojo.CertificateTemplateKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from certificate_template
    where temp_id = #{tempId,jdbcType=BIGINT}
      and org_id = #{orgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.init.pojo.CertificateTemplateKey">
    delete from certificate_template
    where temp_id = #{tempId,jdbcType=BIGINT}
      and org_id = #{orgId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.init.pojo.CertificateTemplateExample">
    delete from certificate_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.init.pojo.CertificateTemplate">
    insert into certificate_template (temp_id, org_id, subject, 
      `type`, subject_font, subject_size, 
      subject_postion, image, thumbnail, 
      modeimg, excel_template, remark, 
      `count`, `scope`, create_time, 
      update_time, extention)
    values (#{tempId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{subject,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{subjectFont,jdbcType=INTEGER}, #{subjectSize,jdbcType=INTEGER}, 
      #{subjectPostion,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{modeimg,jdbcType=VARCHAR}, #{excelTemplate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{scope,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{extention,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.init.pojo.CertificateTemplate">
    insert into certificate_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tempId != null">
        temp_id,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="subjectFont != null">
        subject_font,
      </if>
      <if test="subjectSize != null">
        subject_size,
      </if>
      <if test="subjectPostion != null">
        subject_postion,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="modeimg != null">
        modeimg,
      </if>
      <if test="excelTemplate != null">
        excel_template,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="scope != null">
        `scope`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="extention != null">
        extention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tempId != null">
        #{tempId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjectFont != null">
        #{subjectFont,jdbcType=INTEGER},
      </if>
      <if test="subjectSize != null">
        #{subjectSize,jdbcType=INTEGER},
      </if>
      <if test="subjectPostion != null">
        #{subjectPostion,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null">
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="modeimg != null">
        #{modeimg,jdbcType=VARCHAR},
      </if>
      <if test="excelTemplate != null">
        #{excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="scope != null">
        #{scope,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extention != null">
        #{extention,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.init.pojo.CertificateTemplateExample" resultType="java.lang.Long">
    select count(*) from certificate_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update certificate_template
    <set>
      <if test="record.tempId != null">
        temp_id = #{record.tempId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null">
        org_id = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectFont != null">
        subject_font = #{record.subjectFont,jdbcType=INTEGER},
      </if>
      <if test="record.subjectSize != null">
        subject_size = #{record.subjectSize,jdbcType=INTEGER},
      </if>
      <if test="record.subjectPostion != null">
        subject_postion = #{record.subjectPostion,jdbcType=INTEGER},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbnail != null">
        thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="record.modeimg != null">
        modeimg = #{record.modeimg,jdbcType=VARCHAR},
      </if>
      <if test="record.excelTemplate != null">
        excel_template = #{record.excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null">
        `count` = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.scope != null">
        `scope` = #{record.scope,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extention != null">
        extention = #{record.extention,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update certificate_template
    set temp_id = #{record.tempId,jdbcType=BIGINT},
      org_id = #{record.orgId,jdbcType=BIGINT},
      subject = #{record.subject,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      subject_font = #{record.subjectFont,jdbcType=INTEGER},
      subject_size = #{record.subjectSize,jdbcType=INTEGER},
      subject_postion = #{record.subjectPostion,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      modeimg = #{record.modeimg,jdbcType=VARCHAR},
      excel_template = #{record.excelTemplate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      `count` = #{record.count,jdbcType=INTEGER},
      `scope` = #{record.scope,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      extention = #{record.extention,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update certificate_template
    set temp_id = #{record.tempId,jdbcType=BIGINT},
      org_id = #{record.orgId,jdbcType=BIGINT},
      subject = #{record.subject,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=VARCHAR},
      subject_font = #{record.subjectFont,jdbcType=INTEGER},
      subject_size = #{record.subjectSize,jdbcType=INTEGER},
      subject_postion = #{record.subjectPostion,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      thumbnail = #{record.thumbnail,jdbcType=VARCHAR},
      modeimg = #{record.modeimg,jdbcType=VARCHAR},
      excel_template = #{record.excelTemplate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      `count` = #{record.count,jdbcType=INTEGER},
      `scope` = #{record.scope,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.init.pojo.CertificateTemplate">
    update certificate_template
    <set>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="subjectFont != null">
        subject_font = #{subjectFont,jdbcType=INTEGER},
      </if>
      <if test="subjectSize != null">
        subject_size = #{subjectSize,jdbcType=INTEGER},
      </if>
      <if test="subjectPostion != null">
        subject_postion = #{subjectPostion,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null">
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="modeimg != null">
        modeimg = #{modeimg,jdbcType=VARCHAR},
      </if>
      <if test="excelTemplate != null">
        excel_template = #{excelTemplate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="scope != null">
        `scope` = #{scope,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extention != null">
        extention = #{extention,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where temp_id = #{tempId,jdbcType=BIGINT}
      and org_id = #{orgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.init.pojo.CertificateTemplate">
    update certificate_template
    set subject = #{subject,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      subject_font = #{subjectFont,jdbcType=INTEGER},
      subject_size = #{subjectSize,jdbcType=INTEGER},
      subject_postion = #{subjectPostion,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      modeimg = #{modeimg,jdbcType=VARCHAR},
      excel_template = #{excelTemplate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER},
      `scope` = #{scope,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extention = #{extention,jdbcType=LONGVARCHAR}
    where temp_id = #{tempId,jdbcType=BIGINT}
      and org_id = #{orgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.init.pojo.CertificateTemplate">
    update certificate_template
    set subject = #{subject,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      subject_font = #{subjectFont,jdbcType=INTEGER},
      subject_size = #{subjectSize,jdbcType=INTEGER},
      subject_postion = #{subjectPostion,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      modeimg = #{modeimg,jdbcType=VARCHAR},
      excel_template = #{excelTemplate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER},
      `scope` = #{scope,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where temp_id = #{tempId,jdbcType=BIGINT}
      and org_id = #{orgId,jdbcType=BIGINT}
  </update>
</mapper>